In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("dataset.csv")

In [4]:
cols = ['Sex','Age','Cabin']

In [9]:
df.head().Name

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
Name: Name, dtype: object

In [11]:
df.head().to_dict(orient='list')

{'PassengerId': [1, 2, 3, 4, 5],
 'Survived': [0, 1, 1, 1, 0],
 'Pclass': [3, 1, 3, 1, 3],
 'Name': ['Braund, Mr. Owen Harris',
  'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
  'Heikkinen, Miss. Laina',
  'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
  'Allen, Mr. William Henry'],
 'Sex': ['male', 'female', 'female', 'female', 'male'],
 'Age': [22.0, 38.0, 26.0, 35.0, 35.0],
 'SibSp': [1, 1, 0, 1, 0],
 'Parch': [0, 0, 0, 0, 0],
 'Ticket': ['A/5 21171', 'PC 17599', 'STON/O2. 3101282', '113803', '373450'],
 'Fare': [7.25, 71.2833, 7.925, 53.1, 8.05],
 'Cabin': [nan, 'C85', nan, 'C123', nan],
 'Embarked': ['S', 'C', 'S', 'S', 'S']}